<div class="container-fluid">
  <div class="row">
    <div class="col-lg-18 col-xxl-12" style="margin-top: 2em">
      <kendo-grid
        [data]="gridView"
        [pageSize]="pageSize"
        [skip]="skip"
        [pageable]=pageAbleSetting
        [resizable]=true
        (pageChange)="pageChange($event)"
      >
        <ng-template kendoGridToolbarTemplate [position]="'top'">
          <form [formGroup]="searchForm">
            <div class="row">
              <div class="col">
                <mat-form-field class="example-form-field">
                  <mat-label>English word filter</mat-label>
                  <input matInput type="text" formControlName="en" (keyup)="enInputChange()">
                  <button *ngIf="searchForm.controls.en.value" matSuffix mat-icon-button aria-label="Clear"
                          (click)="clearEnSearch()">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="example-form-field">
                  <mat-label>Vietnamese word filter</mat-label>
                  <input matInput type="text" formControlName="vn" (keyup)="vnInputChange()">
                  <button *ngIf="searchForm.controls.vn.value" matSuffix mat-icon-button aria-label="Clear"
                          (click)="clearVnSearch()">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </div>
          </form>
        </ng-template>
        <kendo-grid-column title="Action" [width]="3" [headerStyle]="{'background-color': '#666','color': '#fff','line-height': '1em','fontWeight':'bold'}">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div class="action-gr">
              <button [look]="'outline'" matTooltip="See detail" kendoButton
                      class="action-button" [iconClass]="'k-icon k-i-preview'"></button>
            </div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column
          [width]="20"
          [headerStyle]="{'background-color': '#666','color': '#fff','line-height': '1em','fontWeight':'bold'}"
          field="en"
          title="English">
        </kendo-grid-column>

        <kendo-grid-column
          [width]="20"
          [headerStyle]="{'background-color': '#666','color': '#fff','line-height': '1em','fontWeight':'bold'}"
          field="vn"
          title="Vietnamese">
        </kendo-grid-column>
      </kendo-grid>
    </div>

  </div>
</div>
